{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>Skin Cancer Test</title>
</head>
<fieldset>
    <legend>How old are you?</legend>

    <div>
      <input type="radio" id="Under 20" name="drone" value="Under 20"
             checked>
      <label for="Under 20">Under 20</label>
    </div>

    <div>
      <input type="radio" id="20-34" name="drone" value="20-34">
      <label for="20-34">11-20</label>
    </div>

    <div>
      <input type="radio" id="35-44" name="drone" value="35-44">
      <label for="35-44">35-44</label>
    </div>

    <div>
        <input type="radio" id="45-54" name="drone" value="45-54">
        <label for="45-54">45-54</label>
      </div>

    <div>
        <input type="radio" id="55-64" name="drone" value="55-64">
        <label for="55-64">55-64</label>
    </div>

    <div>
        <input type="radio" id="65-74" name="drone" value="65-74">
        <label for="65-74">65-74</label>
    </div>

    <div>
        <input type="radio" id="75-84" name="drone" value="75-84">
        <label for="75-84">75-84</label>
    </div>

    <div>
        <input type="radio" id="More than 84" name="drone" value="More than 84">
        <label for="More than 84">More than 84</label>
    </div>

</fieldset>

<fieldset>
    <legend>What is your skin color</legend>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Felix_von_Luschan_Skin_Color_chart.svg/1280px-Felix_von_Luschan_Skin_Color_chart.svg.png" width="450 px">
    <div>
        <br><br/>
        <label for="customRange2" class="form-label">Select a number</label>
        <input type="range" class="form-range" min="0" max="5" id="customRange2">
    </div>
</fieldset>
<fieldset>

    <legend>What is your eye color</legend>

    <div>
      <input type="radio" id="Under 20" name="drone" value="Under 20"
             checked>
      <label for="Under 20">Under 20</label>
    </div>
</fieldset>
<fieldset>
    <legend>Where do you from?</legend>

    <div>
      <input type="radio" id="Northern America" name="drone" value="Northern America"
             checked>
      <label for="Northern America">Northen America</label>
    </div>
    <div>
        <input type="radio" id="South America" name="drone" value="South America"
               checked>
        <label for="South America">South America</label>
    </div>
      <div>
        <input type="radio" id="Western Europe" name="drone" value="Western Europe"
               checked>
        <label for="Western Europe">Western Europe</label>
    </div>
        </div>
      <div>
        <input type="radio" id="Central & Eastern Europe" name="drone" value="Central & Eastern Europe"
               checked>
        <label for="Central & Eastern Europe">Central & Eastern Europe</label>
    </div>
    <div>
        <input type="radio" id="Africa" name="drone" value="Africa"
               checked>
        <label for="Africa">Africa</label>
    </div>
    <div>
        <input type="radio" id="Asia" name="drone" value="Asia"
               checked>
        <label for="Asia">Asia</label>
    </div>
    <div>
        <input type="radio" id="Oceania" name="drone" value="Oceania"
               checked>
        <label for="Oceania">Oceania</label>
    </div>
</fieldset>
<fieldset>

    <legend>How often do you go outside?</legend>

    <div>
      <input type="radio" id="Multiple times a day" name="drone" value="Multiple times a day"
             checked>
      <label for="Multiple times a day">Multiple times a day</label>
    </div>
    <div>
        <input type="radio" id="Once a day" name="drone" value="Once a day"
               checked>
        <label for="Once a day">Once a day</label>
    </div>
      <div>
        <input type="radio" id="Several times a week" name="drone" value="Several times a week"
               checked>
        <label for="Several times a week">Several times a week</label>
    </div>
        </div>
      <div>
        <input type="radio" id="Once a week" name="drone" value="Once a week"
               checked>
        <label for="Once a week">Once a week</label>
    </div>
    <div>
        <input type="radio" id="Few times a month" name="drone" value="Few times a month"
               checked>
        <label for="Few times a month">Few times a month</label>
    </div>
    <div>
        <input type="radio" id="Rarely (less than once a month)" name="drone" value="Rarely (less than once a month)"
               checked>
        <label for="Rarely (less than once a month)">Rarely (less than once a month)</label>
    </div>
</fieldset>
<fieldset>

    <legend>How frequently do you use sunscreen?</legend>

    <div>
      <input type="radio" id="Only on sunny days" name="drone" value="Only on sunny days"
             checked>
      <label for="Only on sunny days">Only on sunny days</label>
    </div>
    <div>
        <input type="radio" id="Only during outdoor activities" name="drone" value="Only during outdoor activities"
               checked>
        <label for="Only during outdoor activities">Only during outdoor activities</label>
      </div>
    <div>
        <input type="radio" id="Only on vacation or beach trips" name="drone" value="Only on vacation or beach trips"
               checked>
        <label for="Only on vacation or beach trips">Only on vacation or beach trips</label>
      </div>
    <div>
        <input type="radio" id="Only when advised by a healthcare professional" name="drone" value="Only when advised by a healthcare professional"
               checked>
        <label for="Only when advised by a healthcare professional">Only when advised by a healthcare professional</label>
      </div>
    <div>
        <input type="radio" id="Only when engaging in water activities" name="drone" value="Only when engaging in water activities"
               checked>
        <label for="Only when engaging in water activities">Only when engaging in water activities</label>
      </div>
    <div>
        <input type="radio" id="Never" name="drone" value="Never"
               checked>
        <label for="Never">Never</label>
      </div>
</fieldset>
<fieldset>
    <legend>Do you have freckles?</legend>
    <div>
      <input type="radio" id="Yes, a few freckles" name="drone" value="Yes, a few freckles"
             checked>
      <label for="Yes, a few freckles">Yes, a few freckles</label>
    </div>
    <input type="radio" id="Yes, moderate number of freackles" name="drone" value="Yes, moderate number of freackles"
    checked>
<label for="Yes, moderate number of freackles">Yes, moderate number of freackles</label>
    </div>
        </div>
        <input type="radio" id="Yes, many freckles" name="drone" value="Yes, many freckles"
        checked>
    <label for="Yes, many freckles">Yes, many freckles</label>
    </div>
        </div>
        </div>
        <input type="radio" id="No, I do not have any freckles" name="drone" value="No, I do not have any freckles"
        checked>
    <label for="No, I do not have any freckles">No, I do not have any freckles</label>
    </div>
</fieldset>
<script>
    alert("hi");
</script>
</html> 
